.dropzone {
  border: 2px dashed #f9b3b3;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  color: rgb(17, 87, 251);
  background-color: white;
}

.dropzone p {
  margin: 0;
}

.dropzone:hover {
  background-color: #f0faff;
  filter: blur(2px);
}

@media (max-width: 992px) {
  .webcam, .dropzone {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .webcam{
    margin-top: 10px;
  }
  .dropzone {
    margin-bottom: 100px;
  }
  
  .input-group-details {
    bottom: 5%;
  }
  
  .webcam {
    width: 100%;
  }
}